version: "3.4"

services:
  front:
    image: front
    build:
      dockerfile: docker/website/Dockerfile
      context: .
      target: node
    volumes:
      - ./front:/app:ro
      - ./docker/website/entrypoint-vue.sh:/entrypoint.sh:ro
    ports:
      - 8000:8080
    environment:
      - VUE_HOST=0.0.0.0
      - VUE_PORT=8080
      - API_HOST=back
      - API_PORT=8000

  back:
    image: back
    build:
      dockerfile: docker/website/Dockerfile
      context: .
      target: python
    depends_on:
      - db
      - redis
    volumes:
      - ./back:/app:ro
      - ./docker/website/entrypoint-api.sh:/entrypoint.sh:ro
    environment:
      - DJANGO_DEBUG=true
      - DJANGO_HOST=0.0.0.0
      - DJANGO_PORT=8000
      - DJANGO_DB_HOST=db
      - DJANGO_DB_USER=user
      - DJANGO_DB_NAME=shanty
      - DJANGO_DB_PASSWORD=password

  migrate:
    image: migrate
    build:
      dockerfile: docker/website/Dockerfile
      context: .
      target: migrate
    volumes:
      - ./back:/app:ro
      - ./docker/website/entrypoint-migrate.sh:/entrypoint.sh:ro
    depends_on:
      - db
    environment:
      - DJANGO_DEBUG=true
      - DJANGO_HOST=0.0.0.0
      - DJANGO_PORT=8000
      - DJANGO_DB_HOST=db
      - DJANGO_DB_USER=user
      - DJANGO_DB_NAME=shanty
      - DJANGO_DB_PASSWORD=password

  celery:
    image: celery
    build:
      dockerfile: docker/website/Dockerfile
      context: .
      target: celery
    volumes:
      - ./back:/app:ro
      - ./docker/website/entrypoint-celery.sh:/entrypoint.sh:ro
    depends_on:
      - db
      - redis
      - migrate
    environment:
      - DJANGO_DB_HOST=db
      - DJANGO_DB_USER=user
      - DJANGO_DB_NAME=shanty
      - DJANGO_DB_PASSWORD=password
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_BEAT_SCHEDULER=django_celery_beat.schedulers:DatabaseScheduler

  beat:
    image: beat
    build:
      dockerfile: docker/website/Dockerfile
      context: .
      target: beat
    volumes:
      - ./back:/app:ro
      - ./docker/website/entrypoint-beat.sh:/entrypoint.sh:ro
    depends_on:
      - db
      - redis
      - migrate
    environment:
      - DJANGO_DB_HOST=db
      - DJANGO_DB_USER=user
      - DJANGO_DB_NAME=shanty
      - DJANGO_DB_PASSWORD=password
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_BEAT_SCHEDULER=django_celery_beat.schedulers:DatabaseScheduler

  dns:
    image: powerdns
    build:
      dockerfile: ./docker/powerdns/Dockerfile
      context: ./
    depends_on:
      - db
      - migrate
    volumes:
      - ./docker/powerdns/pdns.conf.tmpl:/etc/pdns.conf.tmpl:ro
    environment:
      - PGSQL_HOST=db
      - PGSQL_DATABASE=shanty
      - PGSQL_USERNAME=user
      - PGSQL_PASSWORD=password

  db:
    image: postgres:14-alpine
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=shanty

  redis:
    image: redis:alpine

  pebble:
    image: letsencrypt/pebble
    command: pebble -config /etc/pebble/pebble.conf.json
    volumes:
      - ./docker/pebble/pebble.conf.json:/etc/pebble/pebble.conf.json:ro

  flower:
    image: mher/flower
    environment:
      - FLOWER_PORT=8888
      - CELERY_BROKER_URL=redis://redis:6379/0
    ports:
      - "8888:8888"

  prometheus:
    image: prom/prometheus

  grafana:
    image: grafana/grafana
