version: "3.4"

services:
  front:
    image: front
    build:
      dockerfile: docker/front/Dockerfile
      context: .
      target: node
    volumes:
      - ./front:/app:ro
    ports:
      - 8080:8080
    environment:
      - VUE_HOST=0.0.0.0
      - VUE_PORT=8080
      - API_HOST=back
      - API_PORT=8000

  back:
    image: back
    build:
      dockerfile: docker/back/Dockerfile
      context: .
    depends_on:
      - db
    volumes:
      - ./back:/app:ro
    environment:
      - DJANGO_DEBUG=true
      - DJANGO_HOST=0.0.0.0
      - DJANGO_PORT=8000
      - DJANGO_DB_HOST=db
      - DJANGO_DB_USER=user
      - DJANGO_DB_NAME=shanty
      - DJANGO_DB_PASSWORD=password

  migrate:
    image: back
    entrypoint: /wait-for db:5432 -- python3 manage.py migrate --noinput
    volumes:
      - ./back:/app:ro
      - ./docker/back/entrypoint.sh:/entrypoint.sh:ro
    depends_on:
      - db
    environment:
      - DJANGO_DEBUG=true
      - DJANGO_HOST=0.0.0.0
      - DJANGO_PORT=8000
      - DJANGO_DB_HOST=db
      - DJANGO_DB_USER=user
      - DJANGO_DB_NAME=shanty
      - DJANGO_DB_PASSWORD=password

  db:
    image: postgres:14-alpine
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=shanty
