version: "3.4"

networks:
  shared:
    external:
      name: shared
  private:

services:
  front:
    image: website/front
    build:
      dockerfile: docker/website/Dockerfile
      context: .
      target: node
    networks:
      - private
    volumes:
      - ./front:/app:ro
      - ./docker/website/entrypoint-vue.sh:/entrypoint.sh:ro
    ports:
      - 8000:8000
    environment:
      - VUE_HOST=0.0.0.0
      - VUE_PORT=8000
      - API_HOST=back
      - API_PORT=8000

  back:
    image: website/back
    build:
      dockerfile: docker/website/Dockerfile
      context: .
      target: python
    networks:
      private:
      shared:
        ipv4_address: 192.168.100.200
    depends_on:
      - db
      - redis
    volumes:
      - ./back:/app:ro
      - ./docker/website/entrypoint-api.sh:/entrypoint.sh:ro
    # See .env.template for instructions.
    env_file:
      - .env
    environment:
      - DJANGO_DEBUG=true
      - DJANGO_DB_HOST=db
      - DJANGO_DB_USER=user
      - DJANGO_DB_NAME=shanty
      - DJANGO_DB_PASSWORD=password
      - AUTHLIB_INSECURE_TRANSPORT=true

  migrate:
    image: website/migrate
    build:
      dockerfile: docker/website/Dockerfile
      context: .
      target: migrate
    networks:
      - private
    volumes:
      - ./back:/app:ro
      - ./docker/website/entrypoint-migrate.sh:/entrypoint.sh:ro
    depends_on:
      - db
    environment:
      - DJANGO_DEBUG=true
      - DJANGO_DB_HOST=db
      - DJANGO_DB_USER=user
      - DJANGO_DB_NAME=shanty
      - DJANGO_DB_PASSWORD=password

  celery:
    image: website/celery
    build:
      dockerfile: docker/website/Dockerfile
      context: .
      target: celery
    networks:
      - private
    volumes:
      - ./back:/app:ro
      - ./docker/website/entrypoint-celery.sh:/entrypoint.sh:ro
    depends_on:
      - db
      - redis
      - migrate
    environment:
      - DJANGO_DB_HOST=db
      - DJANGO_DB_USER=user
      - DJANGO_DB_NAME=shanty
      - DJANGO_DB_PASSWORD=password
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_BEAT_SCHEDULER=django_celery_beat.schedulers:DatabaseScheduler

  beat:
    image: website/beat
    build:
      dockerfile: docker/website/Dockerfile
      context: .
      target: beat
    networks:
      - private
    volumes:
      - ./back:/app:ro
      - ./docker/website/entrypoint-beat.sh:/entrypoint.sh:ro
    depends_on:
      - db
      - redis
      - migrate
    environment:
      - DJANGO_DB_HOST=db
      - DJANGO_DB_USER=user
      - DJANGO_DB_NAME=shanty
      - DJANGO_DB_PASSWORD=password
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_BEAT_SCHEDULER=django_celery_beat.schedulers:DatabaseScheduler

  dns:
    image: website/powerdns
    build:
      dockerfile: ./docker/powerdns/Dockerfile
      context: ./
    depends_on:
      - db
      - migrate
    networks:
      - private
    volumes:
      - ./docker/powerdns/pdns.conf.tmpl:/etc/pdns.conf.tmpl:ro
    environment:
      - PGSQL_HOST=db
      - PGSQL_DATABASE=shanty
      - PGSQL_USERNAME=user
      - PGSQL_PASSWORD=password

  db:
    image: postgres:14-alpine
    networks:
      - private
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=shanty

  redis:
    image: redis:alpine
    networks:
      - private

  pebble:
    image: letsencrypt/pebble
    command: pebble -config /etc/pebble/pebble.conf.json
    networks:
      - private
    volumes:
      - ./docker/pebble/pebble.conf.json:/etc/pebble/pebble.conf.json:ro

  flower:
    image: mher/flower
    networks:
      - private
    environment:
      - FLOWER_PORT=8888
      - CELERY_BROKER_URL=redis://redis:6379/0
    ports:
      - "8888:8888"

  prometheus:
    image: prom/prometheus
    networks:
      - private

  grafana:
    image: grafana/grafana
    networks:
      - private
