launch+=gpgsql

# gpgsql parameters
gpgsql-host=${PGSQL_HOST}
gpgsql-port=${PGSQL_PORT}
gpgsql-dbname=${PGSQL_DATABASE}
gpgsql-user=${PGSQL_USERNAME}
gpgsql-password=${PGSQL_PASSWORD}
gpgsql-dnssec=${PGSQL_DNSSEC}
