[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
djangorestframework = "*"
django-cache-memoize = "*"
django-powerdns = {ref = "0d630d8", git = "https://btimby@bitbucket.org/btimby/django-powerdns.git"}
django-mailjet = "*"
django-celery-email = "*"
django-mail-templated = "*"
django-prometheus = "*"
django-celery-beat = "*"
psycopg2-binary = "*"
pycosat = "*"
acme = "*"
celery = "*"
redis = "*"
whitenoise = "*"
django-redis = "*"
paramiko = "*"
authlib = "*"
uwsgi = "*"
gevent = "*"
python-socketio = "*"
django-xff = "*"
dnspython = "*"
drf-recaptcha = "*"
uwsgi-chunked = "==0.1.8"
hashids = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3"
